/* App.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
  }
  
  .card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .code {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  /* App.css */
  .code-input {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    width: 120px; /* Lebar input disesuaikan */
    text-align: center;
  }
  
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primary {
    background-color: #007bff;
    color: white;
  }
  
  .success {
    background-color: #28a745;
    color: white;
  }
  
  .feedback {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  